html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
}
.wrapper {
    width: 1200px;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid grey;
    margin: auto;
    position: relative;
}
.content {
    position: absolute;
    padding: 0 10px;
    width: 50%;
    left: 25%;
    background-color: lightyellow;
    z-index: 1;
}

.item {
    width: 100%;
    margin: 10px auto;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 15px 20px;
}

.item:nth-child(2n+2) {
    background-color: lightgrey;
}

.profile {
    float: right;
    height: 64px;
    width: 64px;
    border: 1px solid grey;
    border-radius: 10px;
}

.cart-btn {
    float: right;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}